.simple-section{
    text-align: center;
    max-width: 1140px;
    margin: auto;
    padding: 100px 15px;
    padding-top: 50px;
}

.simple-section p{
    width: 58%;
    margin: auto;
    padding: 0 15px;
    margin-top: 1.75em;
}

.simple-section-slider{
    margin-top: 80px;
    margin-bottom: 30px;
}

.simple-section-slider img{
    width: 250px;
    margin: auto;
}

.simple-section-slider .slick-dots{
    list-style: none;
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin-top: 2em;
}

.simple-section-slider .slick-dots button{
    font-size: 0;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, .1);
    margin: 5px;
    padding: 0;
    
}

.simple-section-slider .slick-dots .slick-active button{
    background-color: #7c4fe0;
    box-shadow: 0 1px 5px #7c4fe0;
}